{% extends "base.html" %}
{% block content %}
<h1>Editar Alumno</h1>
<div class="card">
    <form method="POST">
        <input type="text" name="nombre" value="{{ alumno.nombre }}" class="input-field">
        <input type="text" name="curso" value="{{ alumno.curso }}" class="input-field">
        <input type="number" step="0.1" name="puntaje_final" value="{{ alumno.puntaje_final }}" class="input-field">
        <button type="submit" class="btn btn-add">Actualizar</button>
        <a href="/">Cancelar</a>
    </form>
</div>
{% endblock %}